.sp-in-xs-top-3 {
  padding-top: 3px;
}
.sp-in-xs-left-3 {
  padding-left: 3px;
}
.sp-in-xs-right-3 {
  padding-right: 3px;
}
.sp-in-xs-down-3 {
  padding-down: 3px;
}
.sp-in-xs-top-7 {
  padding-top: 7px;
}
.sp-in-xs-left-7 {
  padding-left: 7px;
}
.sp-in-xs-right-7 {
  padding-right: 7px;
}
.sp-in-xs-down-7 {
  padding-down: 7px;
}
.sp-in-xs-top-15 {
  padding-top: 15px;
}
.sp-in-xs-left-15 {
  padding-left: 15px;
}
.sp-in-xs-right-15 {
  padding-right: 15px;
}
.sp-in-xs-down-15 {
  padding-down: 15px;
}
.sp-in-xs-top-22 {
  padding-top: 22px;
}
.sp-in-xs-left-22 {
  padding-left: 22px;
}
.sp-in-xs-right-22 {
  padding-right: 22px;
}
.sp-in-xs-down-22 {
  padding-down: 22px;
}
.sp-in-xs-top-30 {
  padding-top: 30px;
}
.sp-in-xs-left-30 {
  padding-left: 30px;
}
.sp-in-xs-right-30 {
  padding-right: 30px;
}
.sp-in-xs-down-30 {
  padding-down: 30px;
}
@media (min-width: 768px) {
  .sp-in-sm-top-3 {
    padding-top: 3px;
  }
  .sp-in-sm-left-3 {
    padding-left: 3px;
  }
  .sp-in-sm-right-3 {
    padding-right: 3px;
  }
  .sp-in-sm-down-3 {
    padding-down: 3px;
  }
  .sp-in-sm-top-7 {
    padding-top: 7px;
  }
  .sp-in-sm-left-7 {
    padding-left: 7px;
  }
  .sp-in-sm-right-7 {
    padding-right: 7px;
  }
  .sp-in-sm-down-7 {
    padding-down: 7px;
  }
  .sp-in-sm-top-15 {
    padding-top: 15px;
  }
  .sp-in-sm-left-15 {
    padding-left: 15px;
  }
  .sp-in-sm-right-15 {
    padding-right: 15px;
  }
  .sp-in-sm-down-15 {
    padding-down: 15px;
  }
  .sp-in-sm-top-22 {
    padding-top: 22px;
  }
  .sp-in-sm-left-22 {
    padding-left: 22px;
  }
  .sp-in-sm-right-22 {
    padding-right: 22px;
  }
  .sp-in-sm-down-22 {
    padding-down: 22px;
  }
  .sp-in-sm-top-30 {
    padding-top: 30px;
  }
  .sp-in-sm-left-30 {
    padding-left: 30px;
  }
  .sp-in-sm-right-30 {
    padding-right: 30px;
  }
  .sp-in-sm-down-30 {
    padding-down: 30px;
  }
}
@media (min-width: 992px) {
  .sp-in-md-top-3 {
    padding-top: 3px;
  }
  .sp-in-md-left-3 {
    padding-left: 3px;
  }
  .sp-in-md-right-3 {
    padding-right: 3px;
  }
  .sp-in-md-down-3 {
    padding-down: 3px;
  }
  .sp-in-md-top-7 {
    padding-top: 7px;
  }
  .sp-in-md-left-7 {
    padding-left: 7px;
  }
  .sp-in-md-right-7 {
    padding-right: 7px;
  }
  .sp-in-md-down-7 {
    padding-down: 7px;
  }
  .sp-in-md-top-15 {
    padding-top: 15px;
  }
  .sp-in-md-left-15 {
    padding-left: 15px;
  }
  .sp-in-md-right-15 {
    padding-right: 15px;
  }
  .sp-in-md-down-15 {
    padding-down: 15px;
  }
  .sp-in-md-top-22 {
    padding-top: 22px;
  }
  .sp-in-md-left-22 {
    padding-left: 22px;
  }
  .sp-in-md-right-22 {
    padding-right: 22px;
  }
  .sp-in-md-down-22 {
    padding-down: 22px;
  }
  .sp-in-md-top-30 {
    padding-top: 30px;
  }
  .sp-in-md-left-30 {
    padding-left: 30px;
  }
  .sp-in-md-right-30 {
    padding-right: 30px;
  }
  .sp-in-md-down-30 {
    padding-down: 30px;
  }
}
@media (min-width: 1200px) {
  .sp-in-lg-top-3 {
    padding-top: 3px;
  }
  .sp-in-lg-left-3 {
    padding-left: 3px;
  }
  .sp-in-lg-right-3 {
    padding-right: 3px;
  }
  .sp-in-lg-down-3 {
    padding-down: 3px;
  }
  .sp-in-lg-top-7 {
    padding-top: 7px;
  }
  .sp-in-lg-left-7 {
    padding-left: 7px;
  }
  .sp-in-lg-right-7 {
    padding-right: 7px;
  }
  .sp-in-lg-down-7 {
    padding-down: 7px;
  }
  .sp-in-lg-top-15 {
    padding-top: 15px;
  }
  .sp-in-lg-left-15 {
    padding-left: 15px;
  }
  .sp-in-lg-right-15 {
    padding-right: 15px;
  }
  .sp-in-lg-down-15 {
    padding-down: 15px;
  }
  .sp-in-lg-top-22 {
    padding-top: 22px;
  }
  .sp-in-lg-left-22 {
    padding-left: 22px;
  }
  .sp-in-lg-right-22 {
    padding-right: 22px;
  }
  .sp-in-lg-down-22 {
    padding-down: 22px;
  }
  .sp-in-lg-top-30 {
    padding-top: 30px;
  }
  .sp-in-lg-left-30 {
    padding-left: 30px;
  }
  .sp-in-lg-right-30 {
    padding-right: 30px;
  }
  .sp-in-lg-down-30 {
    padding-down: 30px;
  }
  .sp-out-xs-top-3 {
    margin-top: 3px;
  }
  .sp-out-xs-left-3 {
    margin-left: 3px;
  }
  .sp-out-xs-right-3 {
    margin-right: 3px;
  }
  .sp-out-xs-down-3 {
    margin-down: 3px;
  }
  .sp-out-xs-top-7 {
    margin-top: 7px;
  }
  .sp-out-xs-left-7 {
    margin-left: 7px;
  }
  .sp-out-xs-right-7 {
    margin-right: 7px;
  }
  .sp-out-xs-down-7 {
    margin-down: 7px;
  }
  .sp-out-xs-top-15 {
    margin-top: 15px;
  }
  .sp-out-xs-left-15 {
    margin-left: 15px;
  }
  .sp-out-xs-right-15 {
    margin-right: 15px;
  }
  .sp-out-xs-down-15 {
    margin-down: 15px;
  }
  .sp-out-xs-top-22 {
    margin-top: 22px;
  }
  .sp-out-xs-left-22 {
    margin-left: 22px;
  }
  .sp-out-xs-right-22 {
    margin-right: 22px;
  }
  .sp-out-xs-down-22 {
    margin-down: 22px;
  }
  .sp-out-xs-top-30 {
    margin-top: 30px;
  }
  .sp-out-xs-left-30 {
    margin-left: 30px;
  }
  .sp-out-xs-right-30 {
    margin-right: 30px;
  }
  .sp-out-xs-down-30 {
    margin-down: 30px;
  }
}
@media (min-width: 768px) {
  .sp-out-sm-top-3 {
    margin-top: 3px;
  }
  .sp-out-sm-left-3 {
    margin-left: 3px;
  }
  .sp-out-sm-right-3 {
    margin-right: 3px;
  }
  .sp-out-sm-down-3 {
    margin-down: 3px;
  }
  .sp-out-sm-top-7 {
    margin-top: 7px;
  }
  .sp-out-sm-left-7 {
    margin-left: 7px;
  }
  .sp-out-sm-right-7 {
    margin-right: 7px;
  }
  .sp-out-sm-down-7 {
    margin-down: 7px;
  }
  .sp-out-sm-top-15 {
    margin-top: 15px;
  }
  .sp-out-sm-left-15 {
    margin-left: 15px;
  }
  .sp-out-sm-right-15 {
    margin-right: 15px;
  }
  .sp-out-sm-down-15 {
    margin-down: 15px;
  }
  .sp-out-sm-top-22 {
    margin-top: 22px;
  }
  .sp-out-sm-left-22 {
    margin-left: 22px;
  }
  .sp-out-sm-right-22 {
    margin-right: 22px;
  }
  .sp-out-sm-down-22 {
    margin-down: 22px;
  }
  .sp-out-sm-top-30 {
    margin-top: 30px;
  }
  .sp-out-sm-left-30 {
    margin-left: 30px;
  }
  .sp-out-sm-right-30 {
    margin-right: 30px;
  }
  .sp-out-sm-down-30 {
    margin-down: 30px;
  }
}
@media (min-width: 992px) {
  .sp-out-md-top-3 {
    margin-top: 3px;
  }
  .sp-out-md-left-3 {
    margin-left: 3px;
  }
  .sp-out-md-right-3 {
    margin-right: 3px;
  }
  .sp-out-md-down-3 {
    margin-down: 3px;
  }
  .sp-out-md-top-7 {
    margin-top: 7px;
  }
  .sp-out-md-left-7 {
    margin-left: 7px;
  }
  .sp-out-md-right-7 {
    margin-right: 7px;
  }
  .sp-out-md-down-7 {
    margin-down: 7px;
  }
  .sp-out-md-top-15 {
    margin-top: 15px;
  }
  .sp-out-md-left-15 {
    margin-left: 15px;
  }
  .sp-out-md-right-15 {
    margin-right: 15px;
  }
  .sp-out-md-down-15 {
    margin-down: 15px;
  }
  .sp-out-md-top-22 {
    margin-top: 22px;
  }
  .sp-out-md-left-22 {
    margin-left: 22px;
  }
  .sp-out-md-right-22 {
    margin-right: 22px;
  }
  .sp-out-md-down-22 {
    margin-down: 22px;
  }
  .sp-out-md-top-30 {
    margin-top: 30px;
  }
  .sp-out-md-left-30 {
    margin-left: 30px;
  }
  .sp-out-md-right-30 {
    margin-right: 30px;
  }
  .sp-out-md-down-30 {
    margin-down: 30px;
  }
}
@media (min-width: 1200px) {
  .sp-out-lg-top-3 {
    margin-top: 3px;
  }
  .sp-out-lg-left-3 {
    margin-left: 3px;
  }
  .sp-out-lg-right-3 {
    margin-right: 3px;
  }
  .sp-out-lg-down-3 {
    margin-down: 3px;
  }
  .sp-out-lg-top-7 {
    margin-top: 7px;
  }
  .sp-out-lg-left-7 {
    margin-left: 7px;
  }
  .sp-out-lg-right-7 {
    margin-right: 7px;
  }
  .sp-out-lg-down-7 {
    margin-down: 7px;
  }
  .sp-out-lg-top-15 {
    margin-top: 15px;
  }
  .sp-out-lg-left-15 {
    margin-left: 15px;
  }
  .sp-out-lg-right-15 {
    margin-right: 15px;
  }
  .sp-out-lg-down-15 {
    margin-down: 15px;
  }
  .sp-out-lg-top-22 {
    margin-top: 22px;
  }
  .sp-out-lg-left-22 {
    margin-left: 22px;
  }
  .sp-out-lg-right-22 {
    margin-right: 22px;
  }
  .sp-out-lg-down-22 {
    margin-down: 22px;
  }
  .sp-out-lg-top-30 {
    margin-top: 30px;
  }
  .sp-out-lg-left-30 {
    margin-left: 30px;
  }
  .sp-out-lg-right-30 {
    margin-right: 30px;
  }
  .sp-out-lg-down-30 {
    margin-down: 30px;
  }
  .sp-out-xs-top-3-inv {
    margin-top: -3px;
  }
  .sp-out-xs-left-3-inv {
    margin-left: -3px;
  }
  .sp-out-xs-right-3-inv {
    margin-right: -3px;
  }
  .sp-out-xs-down-3-inv {
    margin-down: -3px;
  }
  .sp-out-xs-top-7-inv {
    margin-top: -7px;
  }
  .sp-out-xs-left-7-inv {
    margin-left: -7px;
  }
  .sp-out-xs-right-7-inv {
    margin-right: -7px;
  }
  .sp-out-xs-down-7-inv {
    margin-down: -7px;
  }
  .sp-out-xs-top-15-inv {
    margin-top: -15px;
  }
  .sp-out-xs-left-15-inv {
    margin-left: -15px;
  }
  .sp-out-xs-right-15-inv {
    margin-right: -15px;
  }
  .sp-out-xs-down-15-inv {
    margin-down: -15px;
  }
  .sp-out-xs-top-22-inv {
    margin-top: -22px;
  }
  .sp-out-xs-left-22-inv {
    margin-left: -22px;
  }
  .sp-out-xs-right-22-inv {
    margin-right: -22px;
  }
  .sp-out-xs-down-22-inv {
    margin-down: -22px;
  }
  .sp-out-xs-top-30-inv {
    margin-top: -30px;
  }
  .sp-out-xs-left-30-inv {
    margin-left: -30px;
  }
  .sp-out-xs-right-30-inv {
    margin-right: -30px;
  }
  .sp-out-xs-down-30-inv {
    margin-down: -30px;
  }
}
@media (min-width: 768px) {
  .sp-out-sm-top-3-inv {
    margin-top: -3px;
  }
  .sp-out-sm-left-3-inv {
    margin-left: -3px;
  }
  .sp-out-sm-right-3-inv {
    margin-right: -3px;
  }
  .sp-out-sm-down-3-inv {
    margin-down: -3px;
  }
  .sp-out-sm-top-7-inv {
    margin-top: -7px;
  }
  .sp-out-sm-left-7-inv {
    margin-left: -7px;
  }
  .sp-out-sm-right-7-inv {
    margin-right: -7px;
  }
  .sp-out-sm-down-7-inv {
    margin-down: -7px;
  }
  .sp-out-sm-top-15-inv {
    margin-top: -15px;
  }
  .sp-out-sm-left-15-inv {
    margin-left: -15px;
  }
  .sp-out-sm-right-15-inv {
    margin-right: -15px;
  }
  .sp-out-sm-down-15-inv {
    margin-down: -15px;
  }
  .sp-out-sm-top-22-inv {
    margin-top: -22px;
  }
  .sp-out-sm-left-22-inv {
    margin-left: -22px;
  }
  .sp-out-sm-right-22-inv {
    margin-right: -22px;
  }
  .sp-out-sm-down-22-inv {
    margin-down: -22px;
  }
  .sp-out-sm-top-30-inv {
    margin-top: -30px;
  }
  .sp-out-sm-left-30-inv {
    margin-left: -30px;
  }
  .sp-out-sm-right-30-inv {
    margin-right: -30px;
  }
  .sp-out-sm-down-30-inv {
    margin-down: -30px;
  }
}
@media (min-width: 992px) {
  .sp-out-md-top-3-inv {
    margin-top: -3px;
  }
  .sp-out-md-left-3-inv {
    margin-left: -3px;
  }
  .sp-out-md-right-3-inv {
    margin-right: -3px;
  }
  .sp-out-md-down-3-inv {
    margin-down: -3px;
  }
  .sp-out-md-top-7-inv {
    margin-top: -7px;
  }
  .sp-out-md-left-7-inv {
    margin-left: -7px;
  }
  .sp-out-md-right-7-inv {
    margin-right: -7px;
  }
  .sp-out-md-down-7-inv {
    margin-down: -7px;
  }
  .sp-out-md-top-15-inv {
    margin-top: -15px;
  }
  .sp-out-md-left-15-inv {
    margin-left: -15px;
  }
  .sp-out-md-right-15-inv {
    margin-right: -15px;
  }
  .sp-out-md-down-15-inv {
    margin-down: -15px;
  }
  .sp-out-md-top-22-inv {
    margin-top: -22px;
  }
  .sp-out-md-left-22-inv {
    margin-left: -22px;
  }
  .sp-out-md-right-22-inv {
    margin-right: -22px;
  }
  .sp-out-md-down-22-inv {
    margin-down: -22px;
  }
  .sp-out-md-top-30-inv {
    margin-top: -30px;
  }
  .sp-out-md-left-30-inv {
    margin-left: -30px;
  }
  .sp-out-md-right-30-inv {
    margin-right: -30px;
  }
  .sp-out-md-down-30-inv {
    margin-down: -30px;
  }
}
@media (min-width: 1200px) {
  .sp-out-lg-top-3-inv {
    margin-top: -3px;
  }
  .sp-out-lg-left-3-inv {
    margin-left: -3px;
  }
  .sp-out-lg-right-3-inv {
    margin-right: -3px;
  }
  .sp-out-lg-down-3-inv {
    margin-down: -3px;
  }
  .sp-out-lg-top-7-inv {
    margin-top: -7px;
  }
  .sp-out-lg-left-7-inv {
    margin-left: -7px;
  }
  .sp-out-lg-right-7-inv {
    margin-right: -7px;
  }
  .sp-out-lg-down-7-inv {
    margin-down: -7px;
  }
  .sp-out-lg-top-15-inv {
    margin-top: -15px;
  }
  .sp-out-lg-left-15-inv {
    margin-left: -15px;
  }
  .sp-out-lg-right-15-inv {
    margin-right: -15px;
  }
  .sp-out-lg-down-15-inv {
    margin-down: -15px;
  }
  .sp-out-lg-top-22-inv {
    margin-top: -22px;
  }
  .sp-out-lg-left-22-inv {
    margin-left: -22px;
  }
  .sp-out-lg-right-22-inv {
    margin-right: -22px;
  }
  .sp-out-lg-down-22-inv {
    margin-down: -22px;
  }
  .sp-out-lg-top-30-inv {
    margin-top: -30px;
  }
  .sp-out-lg-left-30-inv {
    margin-left: -30px;
  }
  .sp-out-lg-right-30-inv {
    margin-right: -30px;
  }
  .sp-out-lg-down-30-inv {
    margin-down: -30px;
  }
}
